/* Skill progress bar */
.skill {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.skill .skill__bar {
    width: 100%;
    height: 15px;
    border: 1px solid var(--main-brand-color-light);
    border-radius: 12px;
}
.skill__bar__inner {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.skill__bar__inner__fill {
    width: 100%;
    height: 100%;
    background-color: var(--main-brand-color-light);
    border: 2px solid #FFF;
    border-radius: 12px;
    animation: fill 0.8s linear;
}
.skill-100 .skill__bar__inner {
    width: 100%;
}
.skill-80 .skill__bar__inner {
    width: 80%;
}
.skill-70 .skill__bar__inner {
    width: 70%;
}
.skill-60 .skill__bar__inner {
    width: 60%;
}
.skill-50 .skill__bar__inner {
    width: 50%;
}
.skill-40 .skill__bar__inner {
    width: 40%;
}
.skill-30 .skill__bar__inner {
    width: 30%;
}
.skill-20 .skill__bar__inner {
    width: 20%;
}
.skill-10 .skill__bar__inner {
    width: 10%;
}
.skill-0 .skill__bar__inner {
    width: 0%;
}

@keyframes fill {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@media (min-width: 520px) {
    .skill {
        width: 48%;
    }
}
@media (min-width: 769px) {
    .skill {
        width: 30%;
    }
}

/* Buttons */
.btn {
    color: var(--main-text-color);
    background-color: var(--main-brand-color);
    padding: 10px;
    border-radius: 25px;
    border: 1px solid var(--main-brand-color);
    transition: background-color 0.1s linear;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--secondary-brand-color);
    border: 1px solid var(--secondary-brand-color);
    color: #FFF;
}
.btn.btn--secondary {
    background-color: transparent;
    border-color: var(--main-text-color);
}
.btn.btn--secondary:hover {
    background-color: var(--secondary-brand-color);
    border: 1px solid var(--secondary-brand-color);
    color: #FFF;
}   
  

form {
    display: flex;
    flex-direction: column;
}
.form__element {
    margin-bottom: 12px;
}
.form__element--checkbox {
    flex-direction: row;
    align-items: center;
}
.form__element--checkbox input[type="checkbox"] {
     margin-right: 5px;
}
.form__label {
    margin-bottom: 0px;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    position: relative;
    padding-left: 20px;
}
.form__label:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 7px;
    background-color: var(--main-brand-color);
    left: 0;
    top: 5px;
}
.form__input {
    padding: 10px 15px;
    border-radius: 25px;
    background: #FFF;
    border: 1px solid #FFF;
    color: var(--main-text-color);
    width: 100%;
}
.form__input:focus-visible {
    outline: none;
}
.form__input:focus {
    border-color: var(--main-brand-color-light);
}
fieldset {
    border: 1px solid var(--main-text-color);
}
fieldset legend {
    margin-bottom: 10px;
    padding: 0 10px;
}
fieldset label {
    width: 100%;
}
.fieldset__element {
    width: 100%;
    margin-bottom: 10px;
}
.form__textarea {
    height: 120px;
}
textarea::placeholder, input::placeholder {
  color: #cbcbcb;
}


@media (min-width: 481px) {
    form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .form__element {
        width: 48%;
    }
}