footer {
    background-color: var(--main-brand-color);
    padding: 20px;
    width: 100%;
}
.social-icons {
    margin: 0 auto;
    text-align: center;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social-icons li {
    list-style: none;
    display: inline;
}
.social-icons li a {
    color: var(--secondary-bg-color);
    font-size: 22px;
}
.social-icons li a:hover {
    color: var(--main-brand-color-light);
}