header {
    background-color: var(--header-color);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(179,168,145,0.5);
    -moz-box-shadow: 0px 4px 6px 0px rgba(179,168,145,0.5);
    box-shadow: 0px 4px 6px 0px rgba(179,168,145,0.5);

    position: sticky;
    z-index: 999;
    top: 0;
}
.header-wrap {
    max-width: 1100px;
    margin: 0 auto;
    padding: 5px 10px;
    height: 40px;
}
.header-logo {
    max-width: none;
    float: none;
    width: 100%;
    text-align: center;
}
.header-logo img {
    height: 30px;
}
.main-nav {
    float: right;
    height: 100%;
}
.main-menu {
    display: none;
}
.main-menu-item {
    list-style: none;
    position: relative;  
}
.main-menu-item:after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: var(--main-brand-color);
    animation: slide-reverse 1s linear;
}
.main-menu-item:hover:after, .main-menu-item.active:after {
    width: 30px;
    animation: slide 1s linear;
}
.main-menu-item a {
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary-brand-color);
    text-decoration: none;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
}

@media (min-width: 769px) {
    .header-wrap {
        height: 70px;
    }
    .header-logo {
        max-width: 120px;
        float: left;
        text-align: left;
    }
    .header-logo img {
        height: 60px;
    }
    .main-menu {
        height: 100%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
    }
}