header {
    background-color: var(--main-brand-color);
    width: 100%;
    position: sticky;
    z-index: 999;
    top: 0;
}
.header-wrap {
    max-width: 1100px;
    margin: 0 auto;
    padding: 5px 10px;
    height: 40px;
}
.header-logo {
    max-width: none;
    float: none;
    width: 100%;
    text-align: center;
}
.header-logo img {
    height: 40px;
}
.main-nav {
    float: right;
    height: 100%;
}
.main-menu {
    display: none;
}
.main-menu-item {
    list-style: none;
    
}
.main-menu-item a {
    color: var(--secondary-bg-color);
    font-size: 22px;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
}
.main-menu-item a:hover {
    color: var(--main-brand-color-light);
}

@media (min-width: 769px) {
    .header-wrap {
        height: 70px;
    }
    .header-logo {
        max-width: 120px;
        float: left;
        text-align: left;
    }
    .header-logo img {
        height: 70px;
    }
    .main-menu {
        height: 100%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
    }
    .main-menu-item a {
        font-size: 16px;
        line-height: 16px;
    }
}