.main {
    margin: 0 auto;
    padding: 40px 0px 0px 0px;
}
/* Description */
.description {
    max-width: 1100px;
    padding: 0 10px;
    margin: 0 auto 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.description-image img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.description-text {
    width: 100%;
}

/* Skills */
.skills {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 20px 0 60px 0;
}
.skills .wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.skills h2 {
    text-align: center;
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}
.skills h2:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    margin: 0 auto;
    width: 50px;
    height: 2px;
    text-align: center;
    background-color: var(--main-brand-color);
    animation: slide 1s linear;
}
/* Banner */
.banner {
    background-image: url("../assets/shin-chan-banner-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 500px;
    width: 100%;
}
@media (min-width: 520px) {
    /* Skills */
    .skills .wrap {
        flex-direction: row;
        justify-content: space-between;
    }
    /* Banner */
    .banner {
        background-image: url("../assets/shin-chan-banner.jpg");
        background-position: top right;
    }
}
@media (min-width: 769px) {
    /* Description */
    .description {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 60px;
        text-align: left;
    }
    .description-image img {
        margin-bottom: 10px;
        margin-right: 0;
        margin-left: auto;
        width: 200px;
    }
    .description-text {
        width: 70%;
    }
}